<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <a href="{{posts.id}}" class="lead">{{posts.title}}</a>

    <p>{{posts.summary}}</p>

    <form action="/posts/{{posts.id}}/comments" method="post">
      <textarea class='form-control' name="content" placeholder="Comment"></textarea>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/posts/show">Back</a>
      </div>
    </form>
  </div>
</div>