<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{posts.id}}" class="lead">{{posts.title}}</a>
    <p>{{posts.summary}}</p>
    <p>Hello World{{posts.summary}}</p>

    <a href="/posts/index">All Memories</a>
  </div>
</div>